@import "src/main";
@import "elr-scss-reset/src/main";

@include elr-reset;

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.accordion-nav {
  @include elr-accordion-nav;
}

// TODO: nav with transparent background

.accordion-nav-transparent {
  @include elr-accordion-nav(
    $config: (
      // border-radius: 0,
      background-color: transparent,
      text-color: #1976d2,
      active-color: transparent,
    )
  );
}

// TODO: nav with no border radius

.accordion-nav-bdrs-0 {
  @include elr-accordion-nav(
    $config: (
      border-radius: 0,
    )
  );
}

// TODO: no padding
