@mixin elr-accordion-nav($config: ()) {
  $config:extend(
    (color: #333, icon: true, width: 250px, text-color: #fff),
    $config
  );

  $color: map-get($config, color);
  $icon: map-get($config, icon);
  $width: map-get($config, width);
  $text-color: map-get($config, text-color);

  //   background-color: $color;
  max-width: $width;
  background-color: $color;

  @if $icon {
    .elr-accordion-icon {
      font-size: to-rems(14px);
      transform: rotate(-90deg);
      line-height: 1;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      color: $text-color;
      transition: transform 0.3s ease-in-out;
    }
  }

  .elr-accordion-menu,
  .elr-accordion-menu-inner,
  .elr-accordion-menu li,
  .elr-accordion-menu-inner li {
    margin: 0;
    padding: 0;
  }

  .elr-accordion-menu-inner {
    @include elr-slide;
    padding: 0;
  }

  .elr-accordion-menu-label,
  .elr-menu-inner-item {
    list-style: none;

    a {
      display: block;
      text-decoration: none;
      color: $text-color;
      background-color: $color;
      padding: 5px 10px;
      margin: 0;

      &:hover {
        background-color: lighten($color, 10%);
      }
    }
  }

  .elr-accordion-menu-label {
    font-weight: 700;
    position: relative;
    font-size: 14px;

    @if $icon {
      padding-left: to-rems(25px);

      &.active {
        .elr-accordion-icon {
          transform: rotate(0deg);
        }
      }
    }
  }

  .elr-menu-inner-item a {
    font-size: to-rems(13px);
    padding-left: to-rems(30px);
  }
}
