@import "elr-scss-functions/src/main";
@import "elr-scss-animations/src/main";

@mixin elr-accordion-nav($config: ()) {
  $config: extend(
    (
      background-color: #1976d2,
      active-color: #fff,
      text-color: #fff,
      border-radius: 5px,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $active-color: map-get($config, active-color);
  $border-radius: map-get($config, border-radius);
  $text-color: map-get($config, text-color);

  width: 100%;
  background-color: $background-color;
  border-radius: $border-radius;
  overflow: hidden;

  .elr-accordion-menu,
  .elr-accordion-menu-inner,
  .elr-accordion-menu li,
  .elr-accordion-menu-inner li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .elr-accordion-menu > li {
    padding: 0 8px;
    margin: 8px 0;
  }

  .elr-accordion-menu-label,
  .elr-accordion-inner-item a {
    display: block;
    text-decoration: none;
    color: $text-color;
    background-color: $background-color;
    padding: 8px;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    border-radius: $border-radius;
    font-weight: 900;

    @if ($background-color != transparent) {
      &:hover {
        background-color: $active-color;
        color: $background-color;

        .elr-accordion-icon {
          color: $background-color;
        }
      }
    } @else {
      &:hover {
        background-color: $text-color;
        color: #fff;

        .elr-accordion-icon {
          color: #fff;
        }
      }
    }
  }

  .elr-accordion-menu-label {
    font-weight: 900;
    position: relative;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0;
    text-align: left;
    cursor: pointer;
    background-color: $background-color;

    &.active {
      .elr-accordion-icon {
        transform: rotate(0deg);
      }
    }
  }

  .elr-accordion-icon {
    font-size: to-rems(14px);
    line-height: 1;
    display: inline-block;
    position: relative;
    color: $text-color;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }

  .elr-accordion-menu-inner {
    @include elr-slide;
    padding: 0;
    margin: 0;
    // background-color: lightgreen;

    &.active {
      margin-top: 8px;
      padding-top: 4px;

      @if ($background-color != transparent) {
        border-top: 1px solid $active-color;
      } @else {
        border-top: 1px solid $text-color;
      }
    }
  }

  .elr-accordion-inner-item {
    &:last-child a {
      margin-bottom: 0;
    }

    a {
      font-size: 14px;
      margin: 4px 0;
    }
  }
}
