@import "src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: $border;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.subheading {
  font-size: $base-fontsize * 1.25;
  color: $primary-color;
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
  max-width: 300px;
}

.accordion-nav {
  @include elr-accordion-nav;
}

// TODO: nav with transparent background

.accordion-nav-transparent {
  @include elr-accordion-nav(
    $config: (
      background-color: transparent,
      text-color: #1976d2,
      active-color: transparent,
    )
  );
}

// TODO: nav with no border radius

.accordion-nav-bdrs-0 {
  @include elr-accordion-nav(
    $config: (
      border-radius: 0,
    )
  );
}

// TODO: no padding
